[Unit]
Description=Run bitvise-backup.service once a day
Documentation=https://github.com/weidai11/website

[Timer]
OnCalendar=*-*-* 04:10:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
