[Unit]
Description=Run gdrive-backup.service once a day
Documentation=https://github.com/weidai11/website/systemd

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/gdrive-backup
