[Unit]
Description=Run gdrive-backup.service once a day
Documentation=https://github.com/weidai11/website/systemd

[Timer]
OnCalendar=*-*-* 05:10:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
