[Unit]
Description=Update the system once a day without user prompts
Documentation=https://github.com/weidai11/website/tree/master/systemd

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/system-update.sh
